.btn {
  padding: .7em 1em;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: .9rem;
  letter-spacing: 1px;
  text-align: center;
}
.btn-outline {
  border: 2px solid #FFF;
  color: #FFF;
  background-color: transparent;

}
.btn-black-outline {
  border-color: #333;
  color: #333;
}
